#profileBar {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

#mainHeader {
    -fx-border-color: #d3d3d3;
    -fx-border-width: 2;
    -fx-border-style: solid;
}
