/* can give components certain elements of style, using the component IDs listed in .fxml */
/* ... we can also manipulate all of these in scene builder (although they will not show here in CSS) */
#numberGenerator /* can also apply styles to whole classes, i.e. '.button' or '.label' etc */
{
    -fx-font-size: 30px;
    -fx-background-color: rgba(255, 255, 255, 0.80);
    -fx-text-fill: blue;
    -fx-padding: 6 6 6 6;
    -fx-border-radius: 8;
    -fx-font-weight: bold;
}

/* we must use '.root', even if we named the parent/window/frame something else */
.root
{
    -fx-background-color: silver;
}